body
{
    min-height:100vh;
}
.cover-image{
    width:100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.player-card{
    width:400px!important;
    overflow: hidden;
}

.flex-center{
    display:flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.aspect-square{
    aspect-ratio: 1/1;
}

hr{
    margin:0!important;
}